.signup-container
  = render partial: 'header'


  .third-main
    .third-main__content
      .third-main__content__title
        電話番号認証
      = form_with model: @user, url: signup_index_path, method: :podt, local: true,html: {class: 'third-main__content__box'} do |f|
        .third-main__content__box__group
          .third-main__content__box__group__name
            認証番号
          = f.text_field :phone_number, placeholder: '認証番号を入力', class: "third-main__content__box__group__form"
          %p.third-main__content__box__group__message1
            SMSで届いた認証番号を入力してください
          = f.submit value: "認証して完了", class: "third-main__content__box__group__submit"

        .third-main__content__box__group2
          .third-main__content__box__group2__messages
            %p.third-main__content__box__group2__messages__message2
              30秒たっても立っても認証番号が届かない方へ
            %p.third-main__content__box__group2__messages__message3
              電話で認証番号を聞くこともできます。
          = f.submit value: "電話で認証番号を聞く（通話無料）", class: "third-main__content__box__group2__submit2"

        .third-main__content__box__group3
          %p.third-main__content__box__group3__message4
            認証番号を再送することもできます。もう一度電話番号を入力して下さい。
          %p.third-main__content__box__group3__message5
            = link_to phone_info_signup_index_path,class: "third-main__content__box__group3__message5__link" do
              電話番号を再度入力する
          %p.third-main__content__box__group3__message6
            %span
              ※SMSが届かない場合は
            = link_to 'https://www.mercari.com/jp/help_center/article/248/', target: :_blank, class: "third-main__content__box__group3__message6__link" do
              SMS受信設定
            %span
              を確認して、もう一度電話番号を入力してください。


  = render partial: 'footer'