= render "./shared/header"
.main-contents
  = render "sidebar"

  .content
    .user-icon
      =link_to "", class: "user-icon__area" do
        .user-icon__area__figure
          = image_tag "https://www.pakutaso.com/shared/img/thumb/HIRA86_nezuminoomocyapuranpuran_TP_V.jpg", alt: "", class: "user-icon__area__figure__img", height: "60px",width: "60px"
        .user-icon__area__name aaa
        .user-icon__area__information
          .user-icon__area__information__evaluation
            評価
            %span.user-icon__area__information__evaluation__number 52
          .user-icon__area__information__exhibits
            出品数
            %span.user-icon__area__information__exhibits__number 93
    .notification-todo
      .mypage-tabs
        =link_to "", class: "mypage-tabs__tag1" do
          お知らせ
        =link_to "", class: "mypage-tabs__tag2" do
          やることリスト


      .tab-content
        .tab-content__body
          =link_to "", class: "tab-content__body__list" do
            = image_tag "//static.mercdn.net/thumb/members/724370101.jpg?1482846519", alt: "", class: "tab-content__body__list__img"          
            .tab-content__body__list__item
              .tab-content__body__list__item__text ☆☆さんが「○○○」にいいね！しました              
              = icon('far', 'clock',  class: "tab-content__body__list__item--icon")
              %span 21 時間前
            = icon('fas', 'chevron-right',  class: "tab-content__body__list--icon")
        .tab-content__body
          =link_to "", class: "tab-content__body__list" do
            = image_tag "//static.mercdn.net/thumb/members/724370101.jpg?1482846519", alt: "", class: "tab-content__body__list__img"            
            .tab-content__body__list__item
              .tab-content__body__list__item__text ☆☆さんが「○○○」にいいね！しました              
              = icon('far', 'clock',  class: "tab-content__body__list__item--icon")
              %span 21 時間前
            = icon('fas', 'chevron-right',  class: "tab-content__body__list--icon")
        .tab-content__body
          =link_to "", class: "tab-content__body__list" do
            = image_tag "//static.mercdn.net/thumb/members/724370101.jpg?1482846519", alt: "", class: "tab-content__body__list__img"             
            .tab-content__body__list__item
              .tab-content__body__list__item__text ☆☆さんが「○○○」にいいね！しました              
              = icon('far', 'clock',  class: "tab-content__body__list__item--icon")
              %span 21 時間前
            = icon('fas', 'chevron-right',  class: "tab-content__body__list--icon")
        .tab-content__body
          =link_to "", class: "tab-content__body__list" do
            = image_tag "/logo_red.svg", alt: "", class: "tab-content__body__list__img"             
            .tab-content__body__list__item
              .tab-content__body__list__item__text 最大P3,000もらえる《買うシカないキャンペーン》開催中！              
              = icon('far', 'clock',  class: "tab-content__body__list__item--icon")
              %span 21 時間前
            = icon('fas', 'chevron-right',  class: "tab-content__body__list--icon")
        .tab-content__body
          =link_to "", class: "tab-content__body__list" do
            = image_tag "/logo_red.svg", alt: "", class: "tab-content__body__list__img"            
            .tab-content__body__list__item
              .tab-content__body__list__item__text 最大P3,000もらえる《買うシカないキャンペーン》開催中！              
              = icon('far', 'clock',  class: "tab-content__body__list__item--icon")
              %span 21 時間前
            = icon('fas', 'chevron-right',  class: "tab-content__body__list--icon")
        .tab-content__bottom
          =link_to "", class: "tab-content__bottom__mypage-go-list" do
            一覧を見る

    .bought-items
      .bought-items__head 購入した商品
      .tabs
        =link_to "", class: "now-traiding" do
          取引中
        =link_to "", class: "past-traiding" do
          過去の取引
      .tab-content
        .item-list__now-traiding
          取引中の商品がありません
        .item-list__past-traiding

= render "./shared/footer"
= render "./shared/sell-btn"