.header
  .header-top
    %h1
      = link_to "#" do
        %img{src: "https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?3135490372", width: "150px"}
    .fuzzy_search
      = form_tag("#",method: :get) do
        %label.fuzzy_search__label
          = fa_icon 'search', class: "fuzzy_search__label--icon"
          = submit_tag 'search', :name => nil,class:"fuzzy_search__label--btn"
        = text_field_tag :search, "",class:"fuzzy_search__field",placeholder:"何かお探しですか？"
  .header-bottom
    .header-bottom__left
      %ul.header-bottom__left__list
        %li.header-bottom__left__list__category
          %h2.header-bottom__left__list__category_field
            = link_to do
              = fa_icon 'list-ul', class: "icon-red"
              %span カテゴリーから探す
          -# = render partial: '#'
        %li
          %h2
            = link_to "#" do
              = fa_icon 'tag', class: "icon-red"
              %span ブランドから探す
    .header-bottom__right
      %ul
        %li
          = link_to "#" do
            = fa_icon 'heart', class: "icon-gray"
            %span いいね一覧
        %li
          = link_to "#" do
            = fa_icon 'bell', class: "icon-gray"
            %span お知らせ
        %li
          = link_to "#" do
            = fa_icon 'check', class: "icon-gray"
            %span やることリスト
        %li
          = link_to "#" do
            .header-bottom__right--image 
            %span マイページ