.signup-container
  = render partial: 'signup/header'


  .login-main
    .login-main__content
      .login-main__content__head
        .login-main__content__head__text アカウントをお持ちでない方はこちら
        %button.login-main__content__head__button1
          = link_to "新規会員登録", signup_index_path, class: "login-main__content__head__button1__registration"
      .login-main__content__buttons
        %button.login-main__content__buttons__button2
          = link_to user_facebook_omniauth_authorize_path, method: :post, class: "login-main__content__buttons__button2__facebook" do
            = icon 'fab', "facebook-square", class: "login-main__content__buttons__button2__facebook__icon"
            %span.login-main__content__buttons__button2__facebook__text Facebookでログイン
        %button.login-main__content__buttons__button3
          = link_to user_google_oauth2_omniauth_authorize_path, method: :post, class: "login-main__content__buttons__button3__google" do
            = icon 'fab', "google", class: "login-main__content__buttons__button3__google__icon"
            %span.login-main__content__buttons__button3__google__text Googleでログイン
      = form_with model: @user, url: user_session_path, method: :podt, local: true, html: {class: 'login-main__content__box'} do |f|
        .login-main__content__box__group
          = f.email_field :email, placeholder: 'メールアドレス', class: "login-main__content__box__group__form", id: "margin-bottom"
        .login-main__content__box__group
          = f.password_field :password, placeholder: 'パスワード', class: "login-main__content__box__group__form"
          
          
          = f.submit value: "ログイン", class: "login-main__content__box__group__submit"
          .login-main__content__box__group__forgot
            = link_to "パスワードをお忘れの方", 'https://www.mercari.com/jp/help_center/article/423/',class: "login-main__content__box__group__forgot__link"


  = render partial: 'signup/footer'
