.main-header
  .famous-categories
    = category
  .category
    .ladies
      .font
        = name1
    .mens
      .font
        = name2
    .av
      .font
        = name3
    .hoby
      .font
        = name4
.items
  .item-review
    .item-review__new
      .item-review__new__content
        = new_arrival1
        %li
          =link_to "", id:"",class: "more" do
            もっと見る >
    .item-images
      - if @items
        - @items.reverse.each do |item|
          =link_to item_path(item.id), class: "item-images__link" do
            .item-images__link__contents
              .item-images__link__contents__container
                .item-images__link__contents__container__price
                  = number_to_currency(item.price, unit: "¥ ", precision: 0)
              = image_tag item.itemimages.first.image.url, alt:"商品写真", class:"item-images__link__contents__photo"
              .item-images__link__contents__names
                = item.name
.items-center
  .item-review
    .item-review__new
      .item-review__new__content
        = new_arrival2
        %li
          =link_to "", id:"",class: "more" do
            もっと見る >
    .item-images
      - if @items
        - @items.reverse.each do |item|
          =link_to item_path(item.id), class: "item-images__link" do
            .item-images__link__contents
              .item-images__link__contents__container
                .item-images__link__contents__container__price
                  = number_to_currency(item.price, unit: "¥ ", precision: 0)
              =image_tag item.itemimages.first.image.url, alt:"商品写真",class:"item-images__link__contents__photo"
              .item-images__link__contents__names
                = item.name
.items-center
  .item-review
    .item-review__new
      .item-review__new__content
        = new_arrival3
        %li
          =link_to "", id:"",class: "more" do
            もっと見る >
    .item-images
      - if @items
        - @items.reverse.each do |item|
          =link_to item_path(item.id), class: "item-images__link" do
            .item-images__link__contents
              .item-images__link__contents__container
                .item-images__link__contents__container__price
                  = number_to_currency(item.price, unit: "¥ ", precision: 0)
              =image_tag item.itemimages.first.image.url, alt:"商品写真",class:"item-images__link__contents__photo"
              .item-images__link__contents__names
                = item.name
.items-under
  .item-review
    .item-review__new
      .item-review__new__content
        = new_arrival4
        %li
          =link_to "", id:"",class: "more" do
            もっと見る >
    .item-images
      - if @items
        - @items.reverse.each do |item|
          =link_to item_path(item.id), class: "item-images__link" do
            .item-images__link__contents
              .item-images__link__contents__container
                .item-images__link__contents__container__price
                  = number_to_currency(item.price, unit: "¥ ", precision: 0)
              =image_tag item.itemimages.first.image.url, alt:"商品写真",class:"item-images__link__contents__photo"
              .item-images__link__contents__names
                = item.name