.wrapper
  .buy-content
    .buy-area
      .buy-area__title
        購入内容の確認
      .buy-area__item-area
        .buy-area__item-area__inner
          .buy-area__item-area__inner__image
            = image_tag @image.image.url, size: "80x80", alt: "ユーザー投稿写真"
          .buy-area__item-area__inner__describe-area
            .buy-area__item-area__inner__describe-area__title
              = @item.name
            .buy-area__item-area__inner__describe-area__price-area
              .buy-area__item-area__inner__describe-area__price-area__price
                = "¥#{@item.price.to_s(:delimited)}"
              .buy-area__item-area__inner__describe-area__price-area__tax
                ="（税込）#{@item.transfer_fee}"
      .buy-area__buy-form
        .buy-area__buy-form__price-area
          .buy-area__buy-form__price-area__label
            支払い金額
          .buy-area__buy-form__price-area__price
            = "¥#{@item.price.to_s(:delimited)}"
        -# ポイント機能は後回しにする
        -# .buy-area__buy-form__point-area
        -#   = check_box_tag :buy_form_point
        -#   = label_tag :buy_form_point, "ポイントを使用 (所持ポイント: P0)", class: "buy-area__buy-form__point-area__point"
        .buy-area__buy-form__chash-area
          .buy-area__buy-form__chash-area__title
            .buy-area__buy-form__chash-area__title__name
              支払い方法
            .buy-area__buy-form__chash-area__title__link
          .buy-area__buy-form__chash-area__card-area
            - if @card
              クレジットカード
              %br
              = card_number(@card)
              %br
              = "有効期限#{sprintf("%02d", @card.exp_month)}/#{@card.exp_year % 100}"
              %br
              = card_logo(@card)
            - else
              = link_to  new_card_path do
                = icon 'fas', 'plus-circle', class: 'buy-area__buy-form__chash-area__card-area__icon'
                .buy-area__buy-form__chash-area__card-area__notice= "登録してください"
        .buy-area__buy-form__deribary-area
          .buy-area__buy-form__deribary-area__title-area
            .buy-area__buy-form__deribary-area__title-area__title
              配送先
            .buy-area__buy-form__deribary-area__title-area__change
              = link_to "変更する", address_info_signup_index_path, page_name: "a"
          .buy-area__buy-form__deribary-area__address
            - if @address
              = "〒#{@address.post_number / 10000}-#{@address.post_number % 10000}"
              = "#{@address.prefecture} #{@address.municipality} #{@address.block} #{@address.try(:building)}"
              = "#{@address.last_name} #{@address.first_name}"
        .buy-area__buy-form__submit
          - if @card && @address
            = form_with url: pay_item_path, method: "post"  do |f|
              = f.submit '購入する', class: "buy-area__buy-form__submit__btn"
          - else
            %input{type: "button", value: "購入する", class: "buy-area__buy-form__submit__unclick-btn"}

