.wrapper
  =render 'shared/header'
  .content-box-clearfix
    .content-box
      .content-box__top
        = @item.name
      .content-box__item-data
        .content-box__item-data__photo
          .content-box__item-data__photo__main-image
            - @images.each_with_index do |pickupimage, i|
              - if i == 0
                .content-box__item-data__photo__main-image__pickupimage
                  = image_tag pickupimage.image.url, size: "300x300", alt: "ユーザー投稿写真", data: {image_id: pickupimage.id}
              - else
                .content-box__item-data__photo__main-image__pickupimage.image-hidden
                  = image_tag pickupimage.image.url, size: "300x300", alt: "ユーザー投稿写真", data: {image_id: pickupimage.id}
            - if @item.status == "取引中"
              .sold-out-pickup
                .sold-out-pickup__text SOLD
          .content-box__item-data__photo__sub-images
            - @images.each_with_index do |itemimage, i|
              - if i == 0
                .content-box__item-data__photo__sub-images__sub-image
                  = image_tag itemimage.image.url, size: "60x60", alt: "ユーザー投稿写真", data: {sub_image_id: itemimage.id}
              - else
                .content-box__item-data__photo__sub-images__sub-image.image-opacity
                  = image_tag itemimage.image.url, size: "60x60", alt: "ユーザー投稿写真", data: {sub_image_id: itemimage.id}
        .content-box__item-data__table
          %table
            %tr.content-boxt__item-data__table__user-line
              %td.content-box__item-data__table__td= "出品者"
              %td
                .content-box__item-data__table__user-line__user-name
                  = link_to @item.user.nick_name, ""
                .content-box__item-data__table__user-line__evaluate
                  .content-box__item-data__table__user-line__evaluate__good
                    = icon 'fas', 'laugh', class: 'icon'
                    = "16"
                  .content-box__item-data__table__user-line__evaluate__normal
                    = icon 'fas', 'meh', class: 'icon'
                    = "1"
                  .content-box__item-data__table__user-line__evaluate__bad
                    = icon 'fas', 'frown', class: 'icon'
                    = "0"
            %tr.content-box__item-data__table__category
              %td.content-box__item-data__table__td= "カテゴリー"
              %td
                .content-box__item-data__table__category__big
                  = link_to @item.category.parent.parent.name, ""
                .content-box__item-data__table__category__middle
                  = link_to "" do
                    = icon 'fas', 'chevron-right', class: 'content__item-data__table__category__middle__icon'
                    =  @item.category.parent.name
                .content-box__item-data__table__category__small
                  = link_to  "" do
                    = icon 'fas', 'chevron-right', class: 'content__item-data__table__category__small__icon'
                    = @item.category.name
            %tr.content-box__item-data__table__brand
              %td.content-box__item-data__table__td= "ブランド"
              %td= @item.try(:brand).try(:name)
            %tr.content-box__item-data__table__size
              %td.content-box__item-data__table__td= "商品のサイズ"
              %td= @item.try(:size)
            %tr.content-box__item-data__table__status
              %td.content-box__item-data__table__td= "商品の状態"
              %td= @item.grade
            %tr.content-box__item-data__table__cost
              %td.content-box__item-data__table__td= "配送料の負担"
              %td= @item.transfer_fee
            %tr.content-box__item-data__table__type
              %td.content-box__item-data__table__td= "配送の方法"
              %td= @item.delivery_type
            %tr.content-box__item-data__table__area
              %td.content-box__item-data__table__td= "配送元地域"
              %td= link_to @item.from_delivery_area, ""
            %tr.content-box__item-data__table__day
              %td.content-box__item-data__table__td= "発送日の目安"
              %td= @item.delivery_date
      .content-box__price
        .content-box__price__price
          = "¥#{@item.price.to_s(:delimited)}"
          %span.content-box__price__tax
            = "(税込) "
          %span.content-box__price__fee
            = "送料込み"
      -if user_signed_in? && @item.user_id == current_user.id
        =link_to "商品の編集", edit_item_path, class: "content-box__edit-btn"
        .content-box__btn-text or
        .content-box__stop-btn 出品を一旦停止する
        = link_to item_path(@item), method: :delete do
          .content-box__stop-btn この商品を削除する
      - else
        .content-box__buy-btn
          - if @item.status == "取引中"
            .content-box__buy-btn__soldout 売り切れました
          - else
            = link_to "購入画面に進む", buy_item_path, class: "content-box__buy-btn__submit"
        .ccontent-box__note
          この商品はゆうゆうFmarket便を利用しているため、アプリからのみ購入できます。
        .content-box__item-description
          = @item.describe
        .content-box__button-area
          .content-box__button-area__left-box
            %label.content-box__button-area__left-box__good
              = icon 'far', 'heart', class: 'icon'
              いいね!
              = "0"
            %label.content-box__button-area__left-box__report
              = icon 'far', 'flag', class: 'icon'
              不適切な商品の報告
          .content-box__button-area__right-box
            = link_to "", class: "content-box__button-area__right-box__safety" do
              = icon 'fas', 'lock', class: 'icon'
              あんしん・あんぜんへの取り組み
    .message
      .message__note
        相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
      .message__textarea
        = text_field_tag 'text','', class:'message-form'
      .message__submit-btn
        = submit_tag "コメントする",class:'message-submit-btn'
    .navi
      .navi__left-box
        = icon 'fas', 'chevron-left'
        = link_to "前の商品へ", "#"
      .navi__right-box
        = link_to "次の商品へ", "#"
        = icon 'fas', 'chevron-right'
    .social-media
      .social-media__box
      %ul.social-media-box
        %li
          = link_to "#", target: "_blank", class: "share-btn" do
            = icon 'fab', 'facebook-square'
        %li
          = link_to "#", target: "_blank", class: "share-btn" do
            = icon 'fab', 'twitter-square'
        %li
          = link_to "#", target: "_blank", class: "share-btn" do
            = icon 'fab', 'pinterest-square'

    .related-item
      .related-item__user
        = link_to "###" do
          = "#{@item.user.nick_name}さんのその他の出品"
        .related-item__user-item
          - @items.each do |item|
            .related-item__user-item__container
              = link_to item_path(item.id) do
                %figure
                  = image_tag item.itemimages.first.image.url, class:'item_phot'
                .related-item__user-item__container__item_body
                  %h3
                    = item.name
                  .related-item__user-item__container__item_body__info
                    .related-item__user-item__container__item_body__info-price
                      = "¥#{item.price.to_s(:delimited)}"
                    .related-item__user-item__container__item_body__info-like
                      %i.far.fa-heart
                        %span 68

      .related-item__category
        = link_to "###" do
          = "#{@parent_category.try(:name)}その他の出品"
        .related-item__category-item
          - if @category_items
            - @category_items.each do |item|
              .related-item__category-item__container
                = link_to item_path(item.id) do
                  %figure
                    = image_tag item.itemimages.first.image.url, class:'item_phot'
                  .related-item__category-item__container__item_body
                    %h3= item.name
                    .related-item__category-item__container__item_body__info
                      .related-item__category-item__container__item_body__info-price
                        = "¥#{item.price.to_s(:delimited)}"
                      .related-item__category-item__container__item_body__info-like
                        %i.far.fa-heart
                          %span 68
    -# 下記パンくずリスト時に実装のためコメントアウト
    -# .modal
    -# .bottom
    -#   .bottom__box
  =render 'shared/footer'
